<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="private.config">
    <add key="AWSProfileName" value="dev-andrew-lane"/>
    
    <add key="QueryInALoop" value="true"/>
    
    <add key="AWS.Region" value="us-east-1" />
    <add key="MillisecondsToSleepBetweenQueries" value="5000"/>

    <add key="AWS.Redshift.Host" value="your host goes here" />
    <add key="AWS.Redshift.Port" value="5439" />
    <add key="AWS.Redshift.Username" value="username here" />
    <add key="AWS.Redshift.Password" value="password here" />
    <add key="AWS.Redshift.Database" value="database here" />
  </appSettings>
</configuration>